body {
    font-family: 'Montserrat-Black';
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat-bold";
}

#title {
    background-color: #ff4c68;
    color: #fff;
    text-align: left;
}

#features {
    background-color: #fff;
    position: relative;
}

#testimonials {
    /* padding: 7% 15%; */

    background-color: #ef8172;
    color: #fff;
}

.carousel-inner{
    max-width: 1500px;
    margin: auto;
}

#press {
    background-color: #ef8172;

    padding-bottom: 3%;
}

#pricing {
    max-width: 1000px;
    /* padding: 100px; */
    margin: auto;
}

#cta {

    background-color: #ff4c68;
    color: #fff;
}

.big-heading {
    font-size: 3.5rem;
    font-weight: bolder;
    line-height: 1.5;
}

.Secondary-header {
    font-family: "Montserrat-bold";
    font-size: 3rem;
    line-height: 1.5;
}

.feature-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.container-fluid {
    padding: 3% 15%;
}

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat-light";
}

.toggle-menu-icon {
    font-size: 1.5rem;
    color: white;
}

/* Download Buttons */
.Download-btn {
    margin: 5% 3% 5% 0;
}

.title-img {
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
}

.container-features {

    padding: 3% 5%;
}

.feature-p {
    font-size: 1.1rem;
    color: darkgrey;
    font-weight: bold;
}

.feature-icon {
    color: #ff4c67a6;
    padding-bottom: 1rem;
}

.feature-box {

    margin: 1%;
    padding: 8% 2% 8% 2%;
    border: solid 1px darkgrey;
    border-radius: 3px;
}

.feature-box:hover {
    background-color: rgb(231, 231, 231);
}

.feature-icon:hover {
    color: #ff4c67d8;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.arrow-icon {
    font-size: 3rem;
}

.press-image {
    width: 15%;
    margin: 20px 20px 50px;
}

.carousel-item {
    padding: 7% 15%;
    display: none;

}

.princing-col {
    padding: 3% 2%;
}

.card {
    background-color: #F8F8F8;
    transition: 0.3s;
}

.card:hover {

    box-shadow: 1px 1px 5px black;
    transform: scale(1.01);
    transition: 0.3s;
}

.copyright-p {
    color: darkgrey;
}

.footer-icon {
    margin: 10px;
}

/* Responsive Media Section */

@media (min-width: 1700px){
    .title-img {
        width: 40%;
        left: 200px;
    }
}

@media (max-width: 1028px) {

    .big-heading {
        line-height: 1.2;
    }

    .Secondary-header {
        font-size: 2rem;
    }

    #title {
        text-align: center;
    }

    #pricing {
        padding: 20px;
    }

    #cta {
        padding: 8% 7%;
    }

    .container-fluid {
        padding: 3% 5%;
    }

    .title-img {
        transform: rotate(0);
        position: static;
    }
}