<h1>Home</h1>

<p><%=homeStartingContent%></p>

<% posts.forEach(element => { %>
<h1><%=element.title%></h1>
<p><%=element.body.slice(0, 100)%><a href="/posts/<%=element._id%>">... Read More</a></p>
<% }); %>